img {
    float: left;
}

p {
    color: black;
    font-size: larger;
}

a {
    border: 1px solid rgb(90, 93, 93);
}

h1 {
    text-align: center;
}

div {
    text-align: center;
    background-color: rgb(232, 240, 232);
}

nav {
    background-color: aqua;
    text-align: center;
    height: 50px;
    padding: 15px;
}

nav a {
    text-decoration-line: none;
    font-size-adjust: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px;
}

h2 {
    background-color: rgb(104, 216, 0);
}

.column {
    width: 350px;
    float: left;
    column-rule: dotted;

}

.sidebar {
    width: 30%;
    float: right;
    column-gap: 35px;
    column-rule: dotted;
    color: aliceblue;
}

.test-box {
    border-left: 2px solid red;
    border-right: 4px solid blue;
    border-top: 6px solid orange;
    border-bottom: 8px solid black;
}

.male {
    font-size: xx-large;
    background: url("../images/memememe.jpg") no-repeat;
    text-align: center;
    width: 100%;
    background-position: center;
    height: 900px;
    text-align: center;
    background-size: 100%;
    color: rgb(0, 255, 21);


}

.female {

    font-size: xx-large;
    background-image: url("../images/fe.webp");
    text-align: center;
    width: 100%;
    background-position: center;
    height: 900px;
    text-align: center;
    background-size: 100%;
    color: aliceblue;

}

.ut {
    color: blue;
}